* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    ;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    flex: 1;
    text-align: right;

}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.navigation ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5;
}

.navigation ul li:hover::after {
    width: 100%;}


.header_txt {
    width: 90%;
    color: black;
    position: absolute;
    top: 7%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header_txt h1 {
    font-size: 55px;}
.stable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-left: 20px solid white;
}

.stable thead tr {
    background-color: #FF7F7F;
    color: #ffffff;
    text-align: left;
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tbody tr {
    border-bottom: 1px 2px solid #dddddd;
}

.stable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable tbody tr:last-of-type {
    border-bottom: 2px solid #FF7F7F;
}


.stable2 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-left: 20px solid white;
}

.stable2 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.stable2 th,
.stable2 td {
    padding: 12px 15px;
}

.stable2 tbody tr {
    border-bottom: 1px solid #dddddd;
}

.stable2 tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable2 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
p1{
    padding-left: 20px;
}
.stable3 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-left: 20px solid white;
}

.stable3 thead tr {
    background-color: #ADD8E6;
    color: #ffffff;
    text-align: left;
}

.stable3 th,
.stable3 td {
    padding: 12px 15px;
}

.stable3 tbody tr {
    border-bottom: 1px 2px solid #dddddd;
}

.stable3 tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable3 tbody tr:last-of-type {
    border-bottom: 2px solid #ADD8E6;
}